@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*, p{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

:root {
    /* Light mode */
    --white-mode-background: #E0E0E0;

    /* Dark mode */
    --dark-mode-background:#181719;
    --dark-mode-foreground: #24242C;
    --dark-mode-foreground2: #323A41;
    --dark-mode-font-colour: white;
    --darm-mode-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.2);
    /* Common used styles */
    --background-colour: #f7f7f7;
    --animation-duration: 0.3s;
    --black-border-2: black solid 2px;
}

body {
    background-color: var(--white-mode-background);
    height: 100vh;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease-in, height 0.7s ease;
}


.dark-background {
    background-color: var(--dark-mode-background) !important;
}

.dark-foreground {
    background-color: var(--dark-mode-foreground) !important;
}

.extend {
    height: 600px;
}


#weather {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(244,242,247);
    width: auto;
    border-radius: 7px;
    justify-content: center;
    transition: 0.3s ease-in;
}

#weatherInfo {
    padding: 20px;
    text-align: center;
    width: 350px;
}

#tempDiv {
    overflow: hidden;
    margin-top: 30px;
    display: none;
    height: auto;
}

#getWeather {
    background-color: rgb(244,242,247);
    color: rgb(39,36,44) !important;
    font-size: 20px;
    border: 2px solid #ddd;
    margin-top: 20px;
    border-radius: 3px;
    outline: none;
    transition: box-shadow 0.4s ease, border 0.5s ease;
    padding: 5px;
    cursor: pointer;
    transition: .5s ease;
}

#getWeather:hover {
    color: black;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border: var(--black-border-2);
    transform: scale(1.1);
}

#inputField {
    position: relative;
    padding-top: 20px;
    display: flex;
    display: block;
    /* border: red solid 1px; */
}

#userInput {
    background-color: rgb(244,242,247);
    border: none;
    appearance: none;
    padding: 12px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.2);
    text-align: center;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    transition: box-shadow 0.3s ease, border 0.7s ease;
    border: 2px solid #ddd;
}

#userInput:focus, #userInput:valid {
    cursor: default;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    border: var(--black-border-2);
}

#userInput:hover {
    cursor: default;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    /* border: var(--black-border-2); */
}

#inputField .placeholder {
    position: absolute;
    left: 31%;
    top: 33px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #aaa;
    text-decoration: none;
    cursor: default;
    transition: 
        top var(--animation-duration) ease,
        font-size var(--animation-duration) ease,
        color var(--animation-duration) ease,
        left var(--animation-duration) ease,
        background-color 0.4s ease;
}

#inputField #userInput:focus + .placeholder, 
#inputField #userInput:valid + .placeholder {
    top: 10px;
    font-size: 14px;
    color: black;
    left: 33.5%;
    background-color: rgb(244,242,247);
}

figure {
    display: flex;
    justify-content: center;
}

img {
    width: 150px;
    border: solid;
    /* background-color: rgb(29,116,242); */
    border-radius: 7px;
}

.show-item {
    display: block;
}

/* light and dark mode switcher */

.theme-switch {
    display: inline-block;
    margin-top: 15px;
}